<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <h2>All tasks</h2>
        <ul>
            <li v-for="task in completedTasks" v-text="task.description"></li>
        </ul>


        <h2>Incompleted tasks</h2>
        <ul>
            <li v-for="task in incompletedTasks" v-text="task.description"></li>
        </ul>        
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#root',
            data: {
              tasks: [
                  {description: 'Go to the market', completed: true},
                  {description: 'Go to the gym', completed: true},
                  {description: 'Go to the work', completed: true},
                  {description: 'Go to the park', completed: false}
              ]
            },

            computed: {
                completedTasks() {
                    return this.tasks.filter(task => task.completed)
                },

                incompletedTasks() {
                    return this.tasks.filter(task => !task.completed)
                }
            }
        })


    </script>
</body>
</html>