<template>
  <div id="app">
    <message> teste teste </message>

    <message> teste teste </message>
    <message> teste teste </message>
    <message> teste teste </message>
    
  </div>
</template>

<script>

import Message from './Message.vue'


export default {
  name: 'app',
  components: { Message},
  data () {
    return {

    }
  }
}
</script>

<style>



</style>
