<template>
    <article class="box">
     <p>        
         <slot></slot>
     </p>
    </article>
</template>


<script>
export default {
    data() {
        return {
            // message: 'teste'
        }
    }
}
</script>


<style>
.box {
    background: #e3e3e3; padding: 10px; border: 1px solid #c5c5c5; margin-bottom: 10px;

}
</style>


