<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .is-loading {
            background: red;
        }
    </style>
</head>
<body>

    <div id="root">     
        <ul>
            <li v-for="name in names">            
                {{ name }}
            </li>
        </ul>


        <input type="text" name="" v-model="newNerd">
        <button :class="{ 'is-loading': isLoading }" @click="addNerd">add nerd</button>

        <button :disabled="isDisabled">teste</button>
        <button @click="changeDisabled">change disable</button>
    </div>

    
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var root = new Vue({
            el: '#root',        
            data: {
                newNerd: '',
                names: ['Nerd', 'Nerdinho', 'nerdao', 'nerdoso', 'nerdgato'],
                isLoading: false,
                isDisabled: false
            },
            methods: {
                addNerd() {
                    this.names.push(this.newNerd)
                    this.newNerd = ''
                    return this.isLoading = this.isLoading ? false : true
                },
                changeDisabled() {                    
                    return this.isDisabled = this.isDisabled ? false : true
                }
            }
        })

    
    </script>
</body>
</html>